<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Project</title>
</head>
<body>

    <!-- <script type="module" src="/controller/BaseController.js"></script>
    <script type="module" src="/controller/EndPoints.js"></script>
    <script type="module" src="/controller/Metadata.js"></script> -->
    <!-- <script type="module" src="/dom/BaseDomBuilder.js"></script> -->
    <script type="module">
        import LotoService from '/service/LotoService.js'

        document.addEventListener('DOMContentLoaded',async (event)=>{

           let list = await new LotoService().getLotosList();
           console.log(list)
           document.appendChild(list);

        })

    </script>
</body>
</html>