<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Project</title>
</head>
<body>

    <script type="module" src="/controller/BaseController.js"></script>
    <script type="module" src="/controller/EndPoints.js"></script>
    <script type="module" src="/controller/Metadata.js"></script>
    <script type="module" src="/dom/BaseDomBuilder.js"></script>
    <script type="module">
        import BaseDomBuilder from '/dom/BaseDomBuilder.js'
        document.addEventListener('DOMContentLoaded',(event)=>{

            let list = BaseDomBuilder.getLotoList();
            console.log(list);     
            
            BaseDomBuilder.print();
        })

    </script>
</body>
</html>